@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono&family=Gloria+Hallelujah&family=Poppins&family=Tulpen+One&display=swap');
:root {
    --bg-color: #111;
}
html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
}

body {
    background-color: var(--bg-color);
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

::selection {
    background-color: #FFF;
    color: var(--bg-color);
}
/* Define fonts */
.normalText {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
}
.codeText {
    font-family: 'Azeret Mono', monospace;
    font-size: 1.4rem;
}
.fancyText {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 1.6rem;
}
.fancyTitle {
    font-family: 'Tulpen One', cursive;
    font-weight: bold;
    font-size: 4rem;
}
/* Remove padding/margin */
.removeSpace {
    padding: 0;
    margin: 0;
}
.custombox {
    position: relative;
    width: 25rem;
    margin: 3rem;
}
.custombox input{
    font-family: 'Azeret Mono', monospace;

    font-size: 1.4rem;
    line-height: 2rem;
    width: 100%;
    padding: 1.5rem;
    border: 0.2rem solid #FFFFFF33;
    background-color: var(--bg-color);
    color: #F9c;
    border-radius: 0.5rem;
    outline: none;
    transition-duration: 0.5s;
}
.custombox span{
    font-family: 'Azeret Mono', monospace;
    font-size: 1.4rem;
    position: absolute;
    padding: 1.9rem;
    left: 0;
    pointer-events: none;
    color: #FFFFFF33;
    text-transform: uppercase;
    transition-duration: 0.5s;
}
.custombox input:valid ~ span, .custombox input:focus ~ span {
    line-height: 1rem;
    font-size: 1rem;
    color: #F36;
    left: 50%;
    transform: translate(-50%, 4.5rem);
    background-color: var(--bg-color);
    border: 0.2rem solid #F36;
    text-shadow: 0 0 1rem #F36;
    box-shadow: 0 0 1rem #F36;
    letter-spacing: 0.2rem;
    padding: 0.5rem;
}

.custombox input:valid, .custombox input:focus {
    border: 0.2rem solid #F36;
    box-shadow: 0 0 1rem #F36;
}

.custombox button {
    font-family: 'Azeret Mono', monospace;
    text-transform: uppercase;
    font-size: 1rem;
    color: #FFFFFF33;
    border: 0.2rem solid #FFFFFF33;
    width: 100%;
    height: 5rem;
    border-radius: 0.5rem;
    background: var(--bg-color);
    outline: none;
}

.custombox button:hover, .custombox button:focus{
    color: #F36 !important;
    text-shadow: 0 0 1rem #F36 !important;
    border: 0.2rem solid #F36 !important;
    box-shadow: 0 0 1rem #F36 !important;
}
.custombox button:active {
    color: #90F !important;
    text-shadow: 0 0 1rem #90F !important;
    border: 0.2rem solid #90F !important;
    box-shadow: 0 0 1rem #90F !important;
}